#color-palette div{
  display: inline-block;
}

#preto{
  background-color: black;
}

#vermelho {
  background-color: red;
}

#verde {
  background-color:green;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}

.color {
  width: 70px;
  height: 70px;
  margin: 50px;
  border: 1px solid;
}
