#color-palette div{
  display: inline-block;
}

#preto{
  background-color: black;
}

#vermelho {
  background-color: red;
}

#verde {
  background-color:green;
}

#azul {
  background-color: blue;
}

#newSizeSelector {
  margin-bottom: 10px;
}

#size{
  margin-left: 75px;
  display: inline;
}

.btn-size div{
  display: inline-block;
  width:60px
}

.pixel{
  display: inline-block;
  width:40px;
  height:40px;
  border: solid 1px;
}

.color {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: solid 1px;
}
