#color-palette div{
  display: inline-block;
}

#preto{
  background-color: black;
}

#vermelho {
  background-color: red;
}

#verde {
  background-color:green;
}

#azul {
  background-color: blue;
}

#amarelo {
  background-color: yellow;
}

.pixel{
  width:60px;
  height:60px;
  border: 3px;
}

.color {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 1px;
}
